---
import ThePhoto from "./req/ThePhoto.svelte";    
const Photo = ThePhoto
import ThePassport from "./req/ThePassport.svelte";    
const Passport = ThePassport
import TheLetter from "./req/TheLetter.svelte";    
const Letter = TheLetter
import TheEntranceStamp from "./req/TheEntranceStamp.svelte";    
const EntranceStamp = TheEntranceStamp
import TheBankStatements from "./req/TheBankStatements.svelte";    
const BankStatements = TheBankStatements
import TheHealthInsurance from "./req/TheHealthInsurance.svelte";    
const HealthInsurance = TheHealthInsurance
import TheCriminalRecords from "./req/TheCriminalRecords.svelte";    
const CriminalRecords = TheCriminalRecords
    
    let requirements = [
        {
            title: 'The Photo',
            description: Photo
        },
        {
            title: 'The Passport',
            description: Passport
        },
        {
            title: 'The Letter',
            description: Letter
        },
        {
            title: 'The Entrance Stamp',
            description: EntranceStamp
        },
        {
            title: 'The Bank Statements',
            description: BankStatements
        },
        {
            title: 'The Health Insurance',
            description: HealthInsurance
        },
        {
            title: 'The Criminal Records',
            description: CriminalRecords
        },
    ]
---



<div tabindex="0" class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box">
    <input type="checkbox" /> 
    <div class="collapse-title text-xl font-medium">
      1. PREPARE THE DOCUMENTS
    </div>
    <div class="collapse-content"> 

     {requirements.map( (req, i) => (
        <>
            
            <div class="form-control">
                <label class="label cursor-pointer">
                    <span class="label-text"><label for={`my-modal-${i+1}`} class="link">{req.title}</label></span> 
                    <input type="checkbox" class="checkbox checkbox-primary" />
                </label>
            </div>

            <input type="checkbox" id={`my-modal-${i+1}`} class="modal-toggle" />
            <label for={`my-modal-${i+1}`} class="modal cursor-pointer">
                <label class="modal-box relative" for="">
                    <Fragment class="py-4" set:html={req.description.render().html}></Fragment>
                </label>
            </label>
        </>
     ))}

    </div>
</div>

<div tabindex="0" class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box">
    <input type="checkbox" /> 
    <div class="collapse-title text-xl font-medium">
       2. SUBMIT THE APPLICATION
    </div>
    <div class="collapse-content"> 
        <div class="form-control">
            <label class="label cursor-pointer">
                <span class="label-text">The application process is made online from <a href="https://tramitesmre.cancilleria.gov.co/tramites/enlinea/solicitarVisa.xhtml" target="_blank">this link.</a></span> 
                <input type="checkbox" id={Math.random()*10} class="checkbox checkbox-primary" />
            </label>
        </div>
        <div class="form-control">
            <label class="label cursor-pointer">
                <span class="label-text">You can find a walkthrough guide (in spanish) in <a href="https://www.cancilleria.gov.co/visa-linea" target="_blank">this link.</a></span> 
                <input type="checkbox" id={Math.random()*10} class="checkbox checkbox-primary" />
            </label>
        </div>
    </div>
</div>

<div tabindex="0" class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box">
    <input type="checkbox" /> 
<div class="collapse-title text-xl font-medium">
    3. MAKE THE FIRST PAYMENT
</div>
<div class="collapse-content"> 
    <div class="form-control">
        <label class="label cursor-pointer">
            <span class="label-text">Once submitted your application, you will receive an email with an unique identification number of your process. In the same email you will get the instructions to pay for the study of the Visa ($52 USD)</span> 
            <input type="checkbox" id={Math.random()*10} class="checkbox checkbox-primary" />
        </label>
    </div>
    <div class="form-control">
        <label class="label cursor-pointer">
            <span class="label-text">You have to pay within the ten (10) days once you have applied. If you don’t pay in this period of time, the visa will be denied.</span> 
            <input type="checkbox" id={Math.random()*10} class="checkbox checkbox-primary" />
        </label>
    </div>
</div>
</div>

<div tabindex="0" class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box">
<input type="checkbox" /> 
<div class="collapse-title text-xl font-medium">
    4. REQUIREMENTS (OPTIONAL)
</div>
<div class="collapse-content"> 
    <div class="form-control">
        <label class="label cursor-pointer">
            <span class="label-text">Once submitted your application, you will receive an email with an unique identification number of your process. In the same email you will get the instructions to pay for the study of the Visa ($52 USD)</span> 
            <input type="checkbox" class="checkbox checkbox-primary" />
        </label>
    </div>
    <div class="form-control">
        <label class="label cursor-pointer">
            <span class="label-text">You have to pay within the ten (10) days once you have applied. If you don’t pay in this period of time, the visa will be denied.</span> 
            <input type="checkbox" class="checkbox checkbox-primary" />
        </label>
    </div>
</div>
</div>


<div tabindex="0" class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box">
    <div class="collapse-title text-xl font-medium">
        5. VISA APPROVAL AND EXPEDITION
    </div>
    <div class="collapse-content"> 
        <div class="form-control">
            <label class="label cursor-pointer">
                <span class="label-text">According to the law (Resolución 5477 de 2022, art, 13), the authorities will take up to 30 days to approve or deny your request. You will get an email.</span> 
                <input type="checkbox" class="checkbox checkbox-primary" />
            </label>
        </div>
        <div class="form-control">
            <label class="label cursor-pointer">
                <span class="label-text">Once it is approved, you will have to pay the expedition fees ($170USD) within 10 days, otherwise the request will be archived and the visa denied.</span> 
                <input type="checkbox" class="checkbox checkbox-primary" />
            </label>
        </div>
    </div>
</div>