---
import LayoutBlog from "../../../layouts/LayoutBlog.astro";
---
<LayoutBlog>

    <h1>This is the blog index</h1>
    <h1>This is the blog index</h1>
    <h1>This is the blog index</h1>
    <h1>This is the blog index</h1>
    <h1>This is the blog index</h1>

</LayoutBlog>