---
import LayoutBlogEx from "../../../layouts/LayoutBlogEx.astro";
---
<LayoutBlogEx>

    <h1>This is the blog index</h1>
    <h1>This is the blog index</h1>
    <h1>This is the blog index</h1>
    <h1>This is the blog index</h1>
    <h1>This is the blog index</h1>

</LayoutBlogEx>