---
import LayoutEmprendedores from "../../layouts/LayoutEmprendedores.astro";
const services = [
  {
    title: 'Registro de marca',
    description: 'Protege tu marca de la mejor manera'
  },
  {
    title: 'Estudio previo',
    description: 'Diagnostica los riesgos de tu registro'
  },
  {
    title: 'Redacción de contratos',
    description: '¿Sin tiempo para revisar o redactar contratos?'
  },
  {
    title: 'Registro Invima',
    description: 'For cool remote workers'
  },
  {
    title: 'Constitución de Empresa',
    description: 'For cool remote workers'
  },
]
 

---
<LayoutEmprendedores>
    
    <div class="hero h-screen bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Emprendedores</h1>
            <p class="py-6">Registra tu marca, crea tu empresa, formaliza tus reclamos y atiende a tus clientes.</p>
            <button class="btn btn-primary">Get Started</button>
          </div>
        </div>
      </div>
      <div class="container mx-auto grid gap-2 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">

        {services.map((service, i) => (
            <>
              <div class="card w-96 sm:w-60 md:w-64 lg:w-80 my-3 mx-auto sm:my-4 bg-base-100 shadow-xl">
                <div class="card-body">
                  <h2 class="card-title">
                    {service.title}
                  </h2>
                  <p>{service.description}</p>
                  <div class="card-actions justify-start">
                    <a class="badge badge-outline">Ver</a> 
                  </div>
                </div>
              </div>
            </>    
        ))}

      </div>

    
</LayoutEmprendedores>
