---
import LayoutForeigners from "../../layouts/LayoutForeigners.astro";
---
<LayoutForeigners>
    
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Expats</h1>
            <p class="py-6">Get your visa, file your claim, all bilingual.</p>
            <a class="btn btn-primary" href="/ex/services">Our services</a>
          </div>
        </div>
      </div>

      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
          <img src="https://placeimg.com/260/400/arch" class="max-w-sm rounded-lg shadow-2xl" />
          <div>
            <h1 class="text-5xl font-bold">Get your visa!</h1>
            <p class="py-6">This is how to.</p>
            <button class="btn btn-primary">Get Started</button>
          </div>
        </div>
      </div>
    

    
</LayoutForeigners>
