---

---
<div class="drawer-side">
    <label for="my-drawer-3" class="drawer-overlay"></label> 
        <ul class="menu p-4 w-80 bg-base-100">
            <li class="menu-title">
              <span>Immigration</span>
            </li>
            <li><a>Visas</a></li>
            <li><a>Nationality</a></li>
            <li><a>Other services</a></li>
            <li class="menu-title">
              <span>Legal Advise</span>
            </li>
            <li><a>Renting property</a></li>
            <li><a>Buying property</a></li>
            <li class="menu-title">
              <span>Learn</span>
            </li>
            <li><a href="/ex/blog">News</a></li>
            <li><a href="/ex/wiki">Wiki</a></li>
            <li><a href="">Contact</a></li>
        </ul>

    </div>