---

---
<div class="drawer-side">
    <label for="my-drawer-3" class="drawer-overlay"></label> 
        <ul class="menu p-4 w-80 bg-base-100">
            <li class="menu-title">
              <span>Services</span>
            </li>
            <li><a>Immigration Law</a></li>
            <li><a>Real Estate</a></li>
            <li><a>Legal Advice</a></li>
            <li class="menu-title">
              <span>Learn</span>
            </li>
            <li><a href="/ex/blog">News</a></li>
            <li><a href="/ex/wiki">Wiki</a></li>
            <li><a href="">Contact</a></li>
        </ul>
</div>