---

---
<div class="drawer-side">
    <label for="my-drawer-2" class="drawer-overlay"></label> 
    <ul class="menu p-4 w-80 bg-base-100 text-base-content">
      <!-- Sidebar content here -->
      <li class="menu-title">
          <span>More M</span>
          <li><a href="/ex/wiki">Wiki</a></li>
          <li><a href="/both/en/contact">Contact</a></li>
          <li><a href="/em">Emprendedores</a></li>
      </li>
      <li class="menu-title">
          <span>Services</span>
      </li>
      <li><a href="/ex/services/immigration">Immigration</a></li>
      <li><a href="/ex/services/">More Services</a></li>
      <li><a href="/em/servicios/redaccion-de-contratos">Contract Law</a></li>
      <li class="menu-title">
          <span>Previous posts</span>
      </li>
      <li><a href="/ex/blog/posts/dnv-confusion">The Digital Nomad Visa Confusion</a></li>
      <li><a href="/ex/blog/posts/counting-your-days">Counting your days</a></li>
    </ul>
    </ul>
  
</div>