---

---
<div class="w-full navbar bg-base-300">
    <div class="flex-none lg:hidden">
    <label for="my-drawer-3" class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </label>
    </div> 
    <div class="flex-1 px-2 mx-2"><a href="/em">Emprendedores</a></div>
    <div class="flex-none hidden lg:block">
    <ul class="menu menu-horizontal">
        <!-- Navbar menu content here -->
        <div class="dropdown">
          <label tabindex="0" class="btn m-1">Servicios</label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-80">
            <li><a href="/em/servicios/registro-de-marca">Registro de Marca</a></li>
            <li><a href="/em/servicios/estudio-previo
              ">Estudio previo</a></li>
            <li><a>Creación de empresa</a></li>
            <li><a>Redacción de contratos modelo</a></li>
            <li><a>E-commerce compliance</a></li>
            <li><a>Licencias de marca</a></li>
            <li><a>Acciones por infracción marcaria</a></li>
            <li><a>Registro de Marca Internacional</a></li>
          </ul>
        </div>
        <li><a href="/em/wiki">Wiki</a></li>
        <li><a href="/em/blog">Blog</a></li>
        <li><a href="/both/es/contacto">Contacto</a></li>
        <li><a href="/ex">Expats</a></li>
    </ul>
    </div>
</div>