---
import LayoutBlog from "../../../layouts/LayoutBlog.astro";
const allPosts = await Astro.glob('../../../pages/em/blog/posts/*.mdx');
---
<LayoutBlog>
    This is the blog index
    {allPosts.map((post,i)=>(
        <>
            <h3>{post.frontmatter.title}</h3>
        </>
    ))}
</LayoutBlog>