---
import LayoutBlog from "../../../layouts/LayoutBlog.astro";
---
<LayoutBlog>

    <h2>Colombian Immigration Law</h2>
    <h3>Have your overstayed?</h3>
    <h3>Do you need a visa to stay in Colombia? Then you have come to the right place.</h3>
    <a href="/ex/wiki/visas">Learn more about Visas</a>
    
</LayoutBlog>