---
import LayoutBlog from "../../../layouts/LayoutBlog.astro";
import ContactBtn from "../../../components/Both/contact-btn.astro";
---
<LayoutBlog>

    <h2>Legal Advice</h2>
    <h3>You gotta fight</h3>
    <h3>For your rights</h3>
    <h3>To paaaarty</h3>
    <ContactBtn/>

    
</LayoutBlog>