---
import LayoutForeigners from "../../../layouts/LayoutForeigners.astro";
---
<LayoutForeigners>

    <h2>Legal Advice</h2>
    <h3>You gotta fight</h3>
    <h3>For your rights</h3>

    
</LayoutForeigners>