---
import LayoutBlog from "../../../layouts/LayoutBlog.astro";
import ContactBtn from "../../../components/Both/contact-btn.astro";
---
<LayoutBlog>

    <h2>Legal Advice</h2>
    <p>As a foreigner, you have the rights and duties that the Colombian legal system provides</p>
    <p>We help you undersand those rights and protect your interests before the public administration and third parties</p>
    <ContactBtn/>

    
</LayoutBlog>