---
import LayoutBlog from "../../../layouts/LayoutBlog.astro";
---
<LayoutBlog>

    <h2>Real Estate</h2>
    <h3>Buying and or renting property in Colombia?</h3>
    <h3>We got your back.</h3>

    
</LayoutBlog>