---
import LayoutBlog from "../../../layouts/LayoutBlog.astro";
---
<LayoutBlog>

    <h2>Get your Visa Now</h2>
    <h3>Do you need a visa to stay in Colombia? Then you have come to the right place.</h3>
    <h3>Not sure about which visa applies to you?</h3>
    <p>Book a consultancy now and get all the advice you need</p>
    <a href="/ex/wiki/visas">Learn more about Visas</a>
    <ul class="steps steps-vertical lg:steps-horizontal">
        <li class="step">Contact us via chat, webcall or in-person</li>
        <li class="step">Choose the right visa for you</li>
        <li class="step">Gather the documents</li>
        <li class="step">Apply for your visa</li>
        <li class="step">Get your visa and cédula de extranjería</li>
      </ul>
    
</LayoutBlog>