---
import LayoutForeigners from "../../../layouts/LayoutForeigners.astro";
---
<LayoutForeigners>

    <h2>Get your Visa Now</h2>
    <h3>Not sure about which visa applies to you?</h3>
    <a href="/ex/wiki/visas">Learn more about Visas</a>
</LayoutForeigners>