-- constitucion-colombia (es)
update public.norms set official_source_url = 'https://www.cancilleria.gov.co/sites/default/files/Normograma/docs/pdf/constitucion_politica_1991.pdf' where slug_key = 'constitucion-colombia' and locale = 'es';
delete from public.norm_sections where norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es');
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'overview', 'Generalidades', null, '<p>Texto constitucional de referencia. La Constituci├│n Pol├¡tica de Colombia de 1991 contiene 380 art├¡culos organizados en 13 t├¡tulos. Use la tabla de contenidos para navegar.</p>', 0, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'preambulo', 'Pre├ímbulo', 'Pre├ímbulo', '<p>El pueblo de Colombia, en ejercicio de su poder soberano, representado por sus delegatarios a la Asamblea Nacional Constituyente, invocando la protecci├│n de Dios, y con el fin de fortalecer la unidad de la Naci├│n y asegurar a sus integrantes la vida, la convivencia, el trabajo, la justicia, la igualdad, el conocimiento, la libertad y la paz, dentro de un marco jur├¡dico, democr├ítico y participativo que garantice un orden pol├¡tico, econ├│mico y social justo, y comprometido a impulsar la integraci├│n de la comunidad latinoamericana, decreta, sanciona y promulga la siguiente Constituci├│n Pol├¡tica de Colombia.</p>', 10, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-i', 'T├¡tulo I ÔÇö De los principios fundamentales', 'T├¡tulo I', null, 20, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-1', 'Art├¡culo 1', 'Art. 1', '<p>Colombia es un Estado social de derecho, organizado en forma de Rep├║blica unitaria, descentralizada, con autonom├¡a de sus entidades territoriales, democr├ítica, participativa y pluralista, fundada en el respeto de la dignidad humana, en el trabajo y la solidaridad de las personas que la integran y en la prevalencia del inter├®s general.</p>', 0, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-2', 'Art├¡culo 2', 'Art. 2', '<p>Son fines esenciales del Estado: servir a la comunidad, promover la prosperidad general y garantizar la efectividad de los principios, derechos y deberes consagrados en la Constituci├│n; facilitar la participaci├│n de todos en las decisiones que los afectan y en la vida econ├│mica, pol├¡tica, administrativa y cultural de la Naci├│n; defender la independencia nacional, mantener la integridad territorial y asegurar la convivencia pac├¡fica y la vigencia de un orden justo.</p><p>Las autoridades de la Rep├║blica est├ín instituidas para proteger a todas las personas residentes en Colombia, en su vida, honra, bienes, creencias, y dem├ís derechos y libertades, y para asegurar el cumplimiento de los deberes sociales del Estado y de los particulares.</p>', 1, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-3', 'Art├¡culo 3', 'Art. 3', '<p>La soberan├¡a reside exclusivamente en el pueblo, del cual emana el poder p├║blico. El pueblo la ejerce en forma directa o por medio de sus representantes, en los t├®rminos que la Constituci├│n establece.</p>', 2, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-4', 'Art├¡culo 4', 'Art. 4', '<p>La Constituci├│n es norma de normas. En todo caso de incompatibilidad entre la Constituci├│n y la ley u otra norma jur├¡dica, se aplicar├ín las disposiciones constitucionales.</p><p>Es deber de los nacionales y de los extranjeros en Colombia acatar la Constituci├│n y las leyes, y respetar y obedecer a las autoridades.</p>', 3, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-5', 'Art├¡culo 5', 'Art. 5', '<p>El Estado reconoce, sin discriminaci├│n alguna, la primac├¡a de los derechos inalienables de la persona y ampara a la familia como instituci├│n b├ísica de la sociedad.</p>', 4, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-6', 'Art├¡culo 6', 'Art. 6', '<p>Los particulares s├│lo son responsables ante las autoridades por infringir la Constituci├│n y las leyes. Los servidores p├║blicos lo son por la misma causa y por omisi├│n o extralimitaci├│n en el ejercicio de sus funciones.</p>', 5, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-7', 'Art├¡culo 7', 'Art. 7', '<p>El Estado reconoce y protege la diversidad ├®tnica y cultural de la Naci├│n colombiana.</p>', 6, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-8', 'Art├¡culo 8', 'Art. 8', '<p>Es obligaci├│n del Estado y de las personas proteger las riquezas culturales y naturales de la Naci├│n.</p>', 7, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-9', 'Art├¡culo 9', 'Art. 9', '<p>Las relaciones exteriores del Estado se fundamentan en la soberan├¡a nacional, en el respeto a la autodeterminaci├│n de los pueblos y en el reconocimiento de los principios del derecho internacional aceptados por Colombia.</p><p>De igual manera, la pol├¡tica exterior de Colombia se orientar├í hacia la integraci├│n latinoamericana y del Caribe.</p>', 8, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-10', 'Art├¡culo 10', 'Art. 10', '<p>El castellano es el idioma oficial de Colombia. Las lenguas y dialectos de los grupos ├®tnicos son tambi├®n oficiales en sus territorios. La ense├▒anza que se imparta en las comunidades con tradiciones ling├╝├¡sticas propias ser├í biling├╝e.</p>', 9, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-ii', 'T├¡tulo II ÔÇö De los derechos, las garant├¡as y los deberes', 'T├¡tulo II', '<p>Art├¡culos 11 a 41. Contenido en carga progresiva.</p>', 30, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-iii', 'T├¡tulo III ÔÇö De los habitantes y del territorio', 'T├¡tulo III', null, 40, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'capitulo-extranjeros', 'Cap├¡tulo III ÔÇö De los extranjeros', 'Cap. III', null, 0, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-100', 'Art├¡culo 100', 'Art. 100', '<p>Los extranjeros disfrutar├ín en Colombia de los mismos derechos civiles que se conceden a los colombianos. No obstante, la ley podr├í, por razones de orden p├║blico, subordinar a condiciones especiales o negar el ejercicio de determinados derechos civiles a los extranjeros.</p><p>As├¡ mismo, los extranjeros gozar├ín, en el territorio de la Rep├║blica, de las garant├¡as concedidas a los nacionales, salvo las limitaciones que establezcan la Constituci├│n o la ley.</p><p>Los derechos pol├¡ticos se reservan a los nacionales, pero la ley podr├í conceder a los extranjeros residentes en Colombia el derecho al voto en las elecciones y consultas populares de car├ícter municipal o distrital.</p>', 0, 2 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-iv', 'T├¡tulo IV ÔÇö De la participaci├│n democr├ítica y de los partidos pol├¡ticos', 'T├¡tulo IV', '<p>Art├¡culos 103 a 112. Contenido en carga progresiva.</p>', 50, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-v', 'T├¡tulo V ÔÇö De la organizaci├│n del Estado', 'T├¡tulo V', '<p>Art├¡culos 113 a 122. Contenido en carga progresiva.</p>', 60, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-vi', 'T├¡tulo VI ÔÇö De la rama legislativa', 'T├¡tulo VI', '<p>Art├¡culos 132 a 188. Contenido en carga progresiva.</p>', 70, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-vii', 'T├¡tulo VII ÔÇö De la rama ejecutiva', 'T├¡tulo VII', '<p>Art├¡culos 189 a 227. Contenido en carga progresiva.</p>', 80, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-viii', 'T├¡tulo VIII ÔÇö De la rama judicial', 'T├¡tulo VIII', '<p>Art├¡culos 228 a 256. Contenido en carga progresiva.</p>', 90, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-ix', 'T├¡tulo IX ÔÇö De las elecciones y de la organizaci├│n electoral', 'T├¡tulo IX', '<p>Art├¡culos 257 a 268. Contenido en carga progresiva.</p>', 100, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-x', 'T├¡tulo X ÔÇö De los organismos de control', 'T├¡tulo X', '<p>Art├¡culos 267 a 281. Contenido en carga progresiva.</p>', 110, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-xi', 'T├¡tulo XI ÔÇö De la organizaci├│n territorial', 'T├¡tulo XI', '<p>Art├¡culos 282 a 317. Contenido en carga progresiva.</p>', 120, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-xii', 'T├¡tulo XII ÔÇö Del r├®gimen econ├│mico y de la hacienda p├║blica', 'T├¡tulo XII', '<p>Art├¡culos 334 a 363. Contenido en carga progresiva.</p>', 130, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-xiii', 'T├¡tulo XIII ÔÇö De la reforma de la Constituci├│n', 'T├¡tulo XIII', '<p>Art├¡culos 374 a 380. Contenido en carga progresiva.</p>', 140, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'disposiciones-transitorias', 'Disposiciones transitorias', null, '<p>Contenido en carga progresiva.</p>', 150, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'es';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es') and child.section_key = 'art-1' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es') and child.section_key = 'art-2' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es') and child.section_key = 'art-3' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es') and child.section_key = 'art-4' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es') and child.section_key = 'art-5' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es') and child.section_key = 'art-6' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es') and child.section_key = 'art-7' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es') and child.section_key = 'art-8' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es') and child.section_key = 'art-9' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es') and child.section_key = 'art-10' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es') and child.section_key = 'capitulo-extranjeros' and parent.section_key = 'titulo-iii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'es') and child.section_key = 'art-100' and parent.section_key = 'capitulo-extranjeros';

-- constitucion-colombia (en)
update public.norms set official_source_url = 'https://www.cancilleria.gov.co/sites/default/files/Normograma/docs/pdf/constitucion_politica_1991.pdf' where slug_key = 'constitucion-colombia' and locale = 'en';
delete from public.norm_sections where norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en');
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'overview', 'Overview', null, '<p>Constitutional reference text. The Political Constitution of Colombia (1991) contains 380 articles in 13 titles. Use the table of contents to navigate.</p>', 0, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'preambulo', 'Preamble', 'Preamble', '<p>The people of Colombia, exercising their sovereign power, represented by their delegates to the National Constituent Assembly, invoking the protection of God, and in order to strengthen the unity of the Nation and ensure to its members life, coexistence, work, justice, equality, knowledge, freedom, and peace within a legal, democratic, and participatory framework that guarantees a just political, economic, and social order, and committed to promoting the integration of the Latin American community, decree, sanction, and promulgate the following Political Constitution of Colombia.</p>', 10, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-i', 'Title I ÔÇö Fundamental principles', 'Title I', null, 20, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-1', 'Art├¡culo 1', 'Art. 1', '<p>Colombia is a social state under the rule of law, organized as a unitary, decentralized republic, with autonomy of its territorial entities, democratic, participatory, and pluralistic, founded on respect for human dignity, on work and solidarity of the people who compose it, and on the prevalence of the general interest.</p>', 0, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-2', 'Art├¡culo 2', 'Art. 2', '<p>The essential goals of the State are to serve the community, promote general prosperity, and guarantee the effectiveness of the principles, rights, and duties enshrined in the Constitution; to facilitate the participation of all in the decisions that affect them and in the economic, political, administrative, and cultural life of the Nation; to defend national independence, maintain territorial integrity, and ensure peaceful coexistence and the enforcement of a just order.</p><p>The authorities of the Republic are established to protect all persons residing in Colombia in their life, honor, property, beliefs, and other rights and freedoms, and to ensure compliance with the social duties of the State and of individuals.</p>', 1, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-3', 'Art├¡culo 3', 'Art. 3', '<p>Sovereignty resides exclusively in the people, from whom public power emanates. The people exercise it directly or through their representatives, in the terms established by the Constitution.</p>', 2, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-4', 'Art├¡culo 4', 'Art. 4', '<p>The Constitution is the supreme norm. In any case of incompatibility between the Constitution and the law or any other legal norm, the constitutional provisions shall apply.</p><p>It is the duty of nationals and foreigners in Colombia to abide by the Constitution and the laws, and to respect and obey the authorities.</p>', 3, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-5', 'Art├¡culo 5', 'Art. 5', '<p>The State recognizes, without any discrimination, the primacy of the inalienable rights of the person and protects the family as the basic institution of society.</p>', 4, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-6', 'Art├¡culo 6', 'Art. 6', '<p>Individuals are responsible before the authorities only for violating the Constitution and the laws. Public servants are responsible for the same cause and for omission or overreach in the performance of their duties.</p>', 5, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-7', 'Art├¡culo 7', 'Art. 7', '<p>The State recognizes and protects the ethnic and cultural diversity of the Colombian Nation.</p>', 6, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-8', 'Art├¡culo 8', 'Art. 8', '<p>It is the duty of the State and of individuals to protect the cultural and natural wealth of the Nation.</p>', 7, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-9', 'Art├¡culo 9', 'Art. 9', '<p>The foreign relations of the State are based on national sovereignty, respect for the self-determination of peoples, and recognition of the principles of international law accepted by Colombia.</p><p>Likewise, Colombia''s foreign policy shall be oriented toward Latin American and Caribbean integration.</p>', 8, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-10', 'Art├¡culo 10', 'Art. 10', '<p>Spanish is the official language of Colombia. The languages and dialects of ethnic groups are also official in their territories. Education in communities with their own linguistic traditions shall be bilingual.</p>', 9, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-ii', 'Title II ÔÇö Rights, guarantees, and duties', 'Title II', '<p>Articles 11ÔÇô41. Content loading progressively.</p>', 30, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-iii', 'Title III ÔÇö Inhabitants and territory', 'Title III', null, 40, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'capitulo-extranjeros', 'Chapter III ÔÇö Foreigners', 'Ch. III', null, 0, 1 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-100', 'Art├¡culo 100', 'Art. 100', '<p>Foreigners shall enjoy in Colombia the same civil rights as those granted to Colombians. However, for reasons of public order, the law may subject the exercise of certain civil rights to special conditions or deny them to foreigners.</p><p>Likewise, foreigners shall enjoy in the territory of the Republic the guarantees granted to nationals, except for the limitations established by the Constitution or the law.</p><p>Political rights are reserved to nationals, but the law may grant resident foreigners in Colombia the right to vote in municipal or district popular elections and consultations.</p>', 0, 2 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-iv', 'Title IV ÔÇö Democratic participation and political parties', 'Title IV', '<p>Articles 103ÔÇô112. Content loading progressively.</p>', 50, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-v', 'Title V ÔÇö Organization of the State', 'Title V', '<p>Articles 113ÔÇô122. Content loading progressively.</p>', 60, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-vi', 'Title VI ÔÇö Legislative branch', 'Title VI', '<p>Articles 132ÔÇô188. Content loading progressively.</p>', 70, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-vii', 'Title VII ÔÇö Executive branch', 'Title VII', '<p>Articles 189ÔÇô227. Content loading progressively.</p>', 80, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-viii', 'Title VIII ÔÇö Judicial branch', 'Title VIII', '<p>Articles 228ÔÇô256. Content loading progressively.</p>', 90, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-ix', 'Title IX ÔÇö Elections and electoral organization', 'Title IX', '<p>Articles 257ÔÇô268. Content loading progressively.</p>', 100, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-x', 'Title X ÔÇö Control bodies', 'Title X', '<p>Articles 267ÔÇô281. Content loading progressively.</p>', 110, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-xi', 'Title XI ÔÇö Territorial organization', 'Title XI', '<p>Articles 282ÔÇô317. Content loading progressively.</p>', 120, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-xii', 'Title XII ÔÇö Economic regime and public finance', 'Title XII', '<p>Articles 334ÔÇô363. Content loading progressively.</p>', 130, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-xiii', 'Title XIII ÔÇö Amendment of the Constitution', 'Title XIII', '<p>Articles 374ÔÇô380. Content loading progressively.</p>', 140, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'disposiciones-transitorias', 'Transitional provisions', null, '<p>Content loading progressively.</p>', 150, 0 from public.norms n where n.slug_key = 'constitucion-colombia' and n.locale = 'en';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en') and child.section_key = 'art-1' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en') and child.section_key = 'art-2' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en') and child.section_key = 'art-3' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en') and child.section_key = 'art-4' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en') and child.section_key = 'art-5' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en') and child.section_key = 'art-6' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en') and child.section_key = 'art-7' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en') and child.section_key = 'art-8' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en') and child.section_key = 'art-9' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en') and child.section_key = 'art-10' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en') and child.section_key = 'capitulo-extranjeros' and parent.section_key = 'titulo-iii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'constitucion-colombia' and locale = 'en') and child.section_key = 'art-100' and parent.section_key = 'capitulo-extranjeros';

-- resolucion-5477-2022 (es)
update public.norms set official_source_url = 'https://www.cancilleria.gov.co/sites/default/files/Normograma/docs/resolucion_minrelaciones_5477_2022.htm' where slug_key = 'resolucion-5477-2022' and locale = 'es';
delete from public.norm_sections where norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es');
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'overview', 'Generalidades', null, '<p>Resoluci├│n 5477 de 22 de julio de 2022 del Ministerio de Relaciones Exteriores. Entr├│ en vigor el 21 de octubre de 2022 y derog├│ las Resoluciones 5477 de 2014 y 6045 de 2017. Regula tipos de visa (V, M, R), requisitos, tr├ímite y obligaciones migratorias.</p>', 0, 0 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-i', 'T├¡tulo I ÔÇö Aspectos generales', 'T├¡tulo I', null, 10, 0 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-1', 'Art├¡culo 1 ÔÇö Ingreso de extranjeros', 'Art. 1', '<p>Los ciudadanos extranjeros requieren autorizaci├│n para ingresar y permanecer en el territorio colombiano. Dicha autorizaci├│n se expresa mediante un Permiso de Ingreso o mediante una visa.</p><p>El Ministerio de Relaciones Exteriores definir├í mediante acto administrativo aquellos Estados o territorios cuyos nacionales podr├ín ingresar sin visa al territorio nacional para estancias cortas y no remuneradas.</p>', 0, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-2', 'Art├¡culo 2 ÔÇö Objeto', 'Art. 2', '<p>Mediante esta Resoluci├│n se establecen los tipos de visa y su alcance, as├¡ como las condiciones, requisitos y tr├ímite para su solicitud, estudio, inadmisi├│n, negaci├│n, autorizaci├│n, cancelaci├│n y terminaci├│n.</p>', 1, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-8', 'Art├¡culo 8 ÔÇö Presentaci├│n de la solicitud', 'Art. 8', '<p>Toda solicitud de visa se deber├í efectuar a trav├®s de la plataforma digital del Ministerio de Relaciones Exteriores (cancilleria.gov.co ÔåÆ tr├ímites y servicios ÔåÆ visa), aportando los requisitos que correspondan.</p><p>Los solicitantes en Colombia eligen la opci├│n ┬½oficina en Bogot├í┬╗ y deben encontrarse en situaci├│n migratoria regular.</p>', 2, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-13', 'Art├¡culo 13 ÔÇö Tiempo de estudio', 'Art. 13', '<p>Una vez completa la solicitud y pagado el estudio, la Autoridad de Visas e Inmigraci├│n tendr├í hasta treinta (30) d├¡as calendario para emitir pronunciamiento. Si el extranjero se encuentra en Colombia, debe mantener situaci├│n migratoria regular durante todo el procesamiento.</p>', 3, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-ii', 'T├¡tulo II ÔÇö Tipos de visas, requisitos y caracter├¡sticas', 'T├¡tulo II', null, 20, 0 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-22', 'Art├¡culo 22 ÔÇö Tipos de visas', 'Art. 22', '<p>Se establecen tres tipos de visas: <strong>Visitante (V)</strong>, <strong>Migrante (M)</strong> y <strong>Residente Permanente (R)</strong>, con sus correspondientes categor├¡as.</p>
<table>
<thead><tr><th>Tipo</th><th>Categor├¡as principales</th></tr></thead>
<tbody>
<tr><td>Visa V (Visitante)</td><td>Turismo, Negocios, Estudiante, N├│mada Digital, Rentista, Tratamiento m├®dico, y 19 categor├¡as m├ís</td></tr>
<tr><td>Visa M (Migrante)</td><td>Inversionista, Trabajador, Pensionado, C├│nyuge de colombiano, Socio o Propietario, Refugiado, y 8 categor├¡as m├ís</td></tr>
<tr><td>Visa R (Residente)</td><td>Tiempo acumulado, ETPMV, Renuncia a nacionalidad, Residente Especial de Paz</td></tr>
</tbody>
</table>', 0, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-23', 'Art├¡culo 23 ÔÇö Alcance en cuanto a domicilio', 'Art. 23', '<p>La Visa de Visitante se expide para actividades temporales sin ├ínimo de establecer domicilio. Constituyen prueba de residencia con vocaci├│n de permanencia las Visas de Migrante (al menos 3 a├▒os continuos como titular) y las visas Residente Permanente (R).</p>', 1, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-24', 'Art├¡culo 24 ÔÇö Requisitos generales', 'Art. 24', '<p>Toda solicitud debe incluir: formulario electr├│nico, fotograf├¡a digital, pasaporte vigente (m├¡nimo 6 meses), comprobante de ingreso regular si aplica, y dem├ís requisitos seg├║n categor├¡a.</p>', 2, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-v', 'Visa de Visitante (V)', 'Tipo V', null, 10, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-v-nomada-digital', 'Visa V ÔÇö N├│madas digitales (Art. 46)', 'Art. 46', '<p>Alcance: Trabajo remoto desde Colombia para empresas extranjeras, como independiente o vinculado, o emprendimiento digital de inter├®s para el pa├¡s.</p><p>Requisitos clave: pasaporte de pa├¡s exento de visa corta estancia; carta de empresa extranjera o contrato; ingresos m├¡nimos de 3 SMLMV en los ├║ltimos 3 meses; p├│liza de salud con cobertura en Colombia.</p><p>Vigencia: hasta 2 a├▒os. Beneficiarios permitidos. Restricci├│n: no permite trabajar para persona natural o jur├¡dica domiciliada en Colombia.</p>', 0, 2 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-v-rentista', 'Visa V ÔÇö Rentista (Art. 56)', 'Art. 56', '<p>Para extranjeros con rentas de capital o pensiones del exterior. Requisitos de solvencia econ├│mica peri├│dica. Contenido completo en carga.</p>', 1, 2 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-m', 'Visa de Migrante (M)', 'Tipo M', null, 20, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-m-inversionista', 'Visa M ÔÇö Inversionista (Art. 79)', 'Art. 79', '<p>Alcance: Extranjero con Inversi├│n Extranjera Directa registrada o inmueble a nombre propio, manteniendo la inversi├│n durante la vigencia. Permite acumular tiempo para visa R.</p><p>Requisitos ÔÇö inversi├│n directa: comunicaci├│n del Banco de la Rep├║blica con registro superior a 650 SMLMV.</p><p>Requisitos ÔÇö inmueble: tradici├│n y libertad a nombre exclusivo del extranjero por valor m├¡nimo de 350 SMLMV, m├ís registro cambiario de la inversi├│n.</p><p>Adem├ís: solvencia econ├│mica (extractos 3 meses), cobertura de salud, y demostrar mantenimiento de inversi├│n en renovaciones.</p><p>Vigencia: hasta 3 a├▒os. Beneficiarios permitidos.</p><p>Par├ígrafo: cualquier cambio en la inversi├│n debe informarse de inmediato a Canciller├¡a.</p>', 0, 2 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-m-pensionado', 'Visa M ÔÇö Pensionado (Art. 78)', 'Art. 78', '<p>Para extranjeros con pensi├│n del exterior. Requisitos de ingreso peri├│dico equivalente a 3 SMLMV. Contenido completo en carga.</p>', 1, 2 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-m-trabajador', 'Visa M ÔÇö Trabajador (Art. 77)', 'Art. 77', '<p>Contrato laboral o prestaci├│n de servicios con empleador colombiano. Permiso de trabajo espec├¡fico. Contenido completo en carga.</p>', 2, 2 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-r', 'Visa de Residente Permanente (R)', 'Tipo R', null, 30, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-r-tiempo-acumulado', 'Visa R ÔÇö Tiempo acumulado (Art. 90)', 'Art. 90', '<p>Para extranjeros con acumulaci├│n de permanencia legal en Colombia (generalmente 5 a├▒os continuos con visa M, o 2 a├▒os con visa M inversionista). Contenido completo en carga.</p>', 0, 2 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-iii', 'T├¡tulo III ÔÇö Procedimientos administrativos', 'T├¡tulo III', '<p>Art├¡culos 94ÔÇô117. Cancelaci├│n, terminaci├│n, recursos. Contenido en carga progresiva.</p>', 30, 0 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-iv', 'T├¡tulo IV ÔÇö Obligaciones migratorias', 'T├¡tulo IV', '<p>Art├¡culos 118ÔÇô120. Contenido en carga progresiva.</p>', 40, 0 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-v', 'T├¡tulo V ÔÇö Disposiciones finales', 'T├¡tulo V', '<p>Vigencia, derogatorias y r├®gimen de transici├│n. Contenido en carga progresiva.</p>', 50, 0 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'es';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'art-1' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'art-2' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'art-8' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'art-13' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'art-22' and parent.section_key = 'titulo-ii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'art-23' and parent.section_key = 'titulo-ii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'art-24' and parent.section_key = 'titulo-ii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'visa-v' and parent.section_key = 'titulo-ii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'visa-v-nomada-digital' and parent.section_key = 'visa-v';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'visa-v-rentista' and parent.section_key = 'visa-v';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'visa-m' and parent.section_key = 'titulo-ii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'visa-m-inversionista' and parent.section_key = 'visa-m';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'visa-m-pensionado' and parent.section_key = 'visa-m';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'visa-m-trabajador' and parent.section_key = 'visa-m';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'visa-r' and parent.section_key = 'titulo-ii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'es') and child.section_key = 'visa-r-tiempo-acumulado' and parent.section_key = 'visa-r';

-- resolucion-5477-2022 (en)
update public.norms set official_source_url = 'https://www.cancilleria.gov.co/sites/default/files/Normograma/docs/resolucion_minrelaciones_5477_2022.htm' where slug_key = 'resolucion-5477-2022' and locale = 'en';
delete from public.norm_sections where norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en');
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'overview', 'Overview', null, '<p>Resolution 5477 of July 22, 2022 (Ministry of Foreign Affairs). Effective October 21, 2022; repealed Resolutions 5477/2014 and 6045/2017. Governs visa types (V, M, R), requirements, procedures, and immigration obligations.</p>', 0, 0 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-i', 'Title I ÔÇö General provisions', 'Title I', null, 10, 0 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-1', 'Article 1 ÔÇö Entry of foreigners', 'Art. 1', '<p>Foreign nationals require authorization to enter and remain in Colombian territory, expressed through an Entry Permit or a visa.</p><p>The Ministry of Foreign Affairs shall define by administrative act which states or territories may enter without a visa for short, non-remunerated stays.</p>', 0, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-2', 'Article 2 ÔÇö Purpose', 'Art. 2', '<p>This Resolution establishes visa types and scope, as well as conditions, requirements, and procedures for application, review, inadmission, denial, authorization, cancellation, and termination.</p>', 1, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-8', 'Article 8 ÔÇö Filing the application', 'Art. 8', '<p>All visa applications must be filed through the Ministry''s digital platform (cancilleria.gov.co ÔåÆ procedures and services ÔåÆ visa).</p><p>Applicants in Colombia select the Bogot├í office option and must remain in regular immigration status.</p>', 2, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-13', 'Article 13 ÔÇö Processing time', 'Art. 13', '<p>Once the application is complete and study fees paid, the Visa and Immigration Authority has up to thirty (30) calendar days to decide. Applicants in Colombia must maintain regular status throughout processing.</p>', 3, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-ii', 'Title II ÔÇö Visa types, requirements, and characteristics', 'Title II', null, 20, 0 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-22', 'Article 22 ÔÇö Visa types', 'Art. 22', '<p>Three visa types are established: <strong>Visitor (V)</strong>, <strong>Migrant (M)</strong>, and <strong>Permanent Resident (R)</strong>, each with categories.</p>
<table>
<thead><tr><th>Type</th><th>Main categories</th></tr></thead>
<tbody>
<tr><td>Visitor visa (V)</td><td>Tourism, Business, Student, Digital Nomad, Rentista, Medical treatment, and 19 more</td></tr>
<tr><td>Migrant visa (M)</td><td>Investor, Worker, Pensioner, Spouse of Colombian, Partner/Owner, Refugee, and 8 more</td></tr>
<tr><td>Resident visa (R)</td><td>Accumulated time, ETPMV, Renunciation of nationality, Special Peace Resident</td></tr>
</tbody>
</table>', 0, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-23', 'Article 23 ÔÇö Scope regarding domicile', 'Art. 23', '<p>Visitor visas are for temporary activities without intent to establish domicile. Migrant visas (3+ continuous years as holder) and Permanent Resident (R) visas demonstrate residence with intent to remain.</p>', 1, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'art-24', 'Article 24 ÔÇö General requirements', 'Art. 24', '<p>Every application must include: electronic form, digital photo, valid passport (minimum 6 months), proof of regular entry if applicable, and category-specific requirements.</p>', 2, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-v', 'Visitor visa (V)', 'Type V', null, 10, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-v-nomada-digital', 'Visitor visa ÔÇö Digital nomads (Art. 46)', 'Art. 46', '<p>Scope: Remote work from Colombia for foreign companies, as independent or employee, or digital entrepreneurship of interest to the country.</p><p>Key requirements: passport from visa-exempt country; letter from foreign employer or contract; minimum income of 3 SMLMV for the last 3 months; health insurance with coverage in Colombia.</p><p>Validity: up to 2 years. Beneficiaries allowed. Restriction: may not work for persons domiciled in Colombia.</p>', 0, 2 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-v-rentista', 'Visitor visa ÔÇö Rentista (Art. 56)', 'Art. 56', '<p>For foreigners with capital income or foreign pensions. Periodic solvency requirements. Full content loading.</p>', 1, 2 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-m', 'Migrant visa (M)', 'Type M', null, 20, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-m-inversionista', 'Migrant visa ÔÇö Investor (Art. 79)', 'Art. 79', '<p>Scope: Foreigner with registered Foreign Direct Investment or real property in their name, maintained during validity. Allows accumulating time toward R visa.</p><p>Direct investment: Banco de la Rep├║blica registration exceeding 650 SMLMV.</p><p>Real property: clean title exclusively in foreigner''s name, minimum 350 SMLMV, plus foreign investment registration.</p><p>Also: economic solvency (3-month bank statements), health coverage, and proof of maintained investment on renewals.</p><p>Validity: up to 3 years. Beneficiaries allowed.</p><p>Paragraph: any investment change must be reported immediately to the Ministry.</p>', 0, 2 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-m-pensionado', 'Migrant visa ÔÇö Pensioner (Art. 78)', 'Art. 78', '<p>For foreigners with foreign pension income (minimum 3 SMLMV). Full content loading.</p>', 1, 2 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-m-trabajador', 'Migrant visa ÔÇö Worker (Art. 77)', 'Art. 77', '<p>Employment or services contract with Colombian employer. Specific work permit. Full content loading.</p>', 2, 2 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-r', 'Permanent Resident visa (R)', 'Type R', null, 30, 1 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'visa-r-tiempo-acumulado', 'Resident visa ÔÇö Accumulated time (Art. 90)', 'Art. 90', '<p>For foreigners with accumulated legal stay (generally 5 continuous years with M visa, or 2 years as M investor). Full content loading.</p>', 0, 2 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-iii', 'Title III ÔÇö Administrative procedures', 'T├¡tulo III', '<p>Articles 94ÔÇô117. Cancellation, termination, appeals. Content loading progressively.</p>', 30, 0 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-iv', 'Title IV ÔÇö Immigration obligations', 'T├¡tulo IV', '<p>Articles 118ÔÇô120. Content loading progressively.</p>', 40, 0 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
insert into public.norm_sections (norm_id, parent_id, section_key, title, number_label, html, sort_order, depth) select n.id, null, 'titulo-v', 'Title V ÔÇö Final provisions', 'T├¡tulo V', '<p>Effective date, repeals, and transition regime. Content loading progressively.</p>', 50, 0 from public.norms n where n.slug_key = 'resolucion-5477-2022' and n.locale = 'en';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'art-1' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'art-2' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'art-8' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'art-13' and parent.section_key = 'titulo-i';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'art-22' and parent.section_key = 'titulo-ii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'art-23' and parent.section_key = 'titulo-ii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'art-24' and parent.section_key = 'titulo-ii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'visa-v' and parent.section_key = 'titulo-ii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'visa-v-nomada-digital' and parent.section_key = 'visa-v';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'visa-v-rentista' and parent.section_key = 'visa-v';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'visa-m' and parent.section_key = 'titulo-ii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'visa-m-inversionista' and parent.section_key = 'visa-m';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'visa-m-pensionado' and parent.section_key = 'visa-m';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'visa-m-trabajador' and parent.section_key = 'visa-m';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'visa-r' and parent.section_key = 'titulo-ii';
update public.norm_sections child set parent_id = parent.id from public.norm_sections parent where child.norm_id = parent.norm_id and child.norm_id = (select id from public.norms where slug_key = 'resolucion-5477-2022' and locale = 'en') and child.section_key = 'visa-r-tiempo-acumulado' and parent.section_key = 'visa-r';
