---
---
<!-- The button to open modal -->
<a href="#my-modal-2" class="btn">Contact now</a>
<!-- Put this part before </body> tag -->
<div class="modal" id="my-modal-2">
  <div class="modal-box">
    <h3 class="font-bold text-lg">We will </h3>
    <p class="py-4">Make a call</p>
    <p class="py-4">Whatsapp</p>
    <p class="py-4">Book an appointment</p>
    <div class="modal-action">
     <a href="#" class="btn">Yay!</a>
    </div>
  </div>
</div>