---

---
<div>
	<h2 class="h2 text-center">Please select your profile</h2>
</div>

<div class="container mx-auto h-screen flex flex-row items-center justify-center">
	<div class="card h-fit w-96 bg-base-100 shadow-xl">
		<figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
		<div class="card-body">
		<h2 class="card-title">Emprendedores</h2>
		<p>Registro de marca</p>
		<p>Estudio previo</p>
		<p>Contratos</p>
		<div class="card-actions justify-end">
			<a href="/em" class="btn btn-primary">Ingresar</a>
		</div>
		</div>
	</div>

	<div class="card h-fit w-96 bg-base-100 shadow-xl">
		<figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
		<div class="card-body">
		<h2 class="card-title">Foreigners</h2>
		<p>Visas</p>
		<p>Investments</p>
		<p>Expats services</p>
		<div class="card-actions justify-end">
			<a href="/ex" class="btn btn-primary">Ingresar</a>
		</div>
		</div>
	</div>
</div>