---
import { Image, Picture } from '@astrojs/image/components';
import ilLogo from '../../../public/logosnew/immigration-law.png';
import ipLogo from '../../../public/logosnew/industrial-property.png';
---
<div class="my-5">
	<div class="text-center">Please select your profile</div>
	<div class="divider"></div>
	<div class="text-center">Selecciona tu perfil</div>
</div>

<div class="container mx-auto min-h-auto flex flex-col sm:flex-row items-center justify-center">
	
	<div class="card h-fit w-96 bg-white-200 m-2 shadow-xl">
		<div class="card-body">
			<div class="flex mx-auto my-3">
				<Image src={ipLogo} alt="descriptive text" />
			</div>
			<h4 class="text-center">Emprendedores</h4>
			<div class="card-body border border-secondary-500 bg-primary-100 rounded-box">
					<ul class="menu">
						<li> <a href="/em/servicios/registro-de-marca">Registro de marca</a></li>
						<li> <a href="/em/servicios/registro-de-marca">Derecho Privado</a></li>
						<li> <a href="/em/servicios/asesoria-legal">Asesoría legal</a></li>
					</ul>
			</div>
			<div class="card-actions">
				<a href="/em" class="btn btn-md btn-primary w-full">Ingresar</a>
			</div>
		</div>
	</div>

	<div class="card h-fit w-96 bg-white-200 m-2 shadow-xl">
		<div class="card-body">
			<div class="flex mx-auto my-3">
				<Image src={ilLogo} alt="descriptive text" />
			</div>
			<h4 class="text-center">Expats</h4>
			<div class="card-body border border-secondary-500 bg-primary-100 rounded-box">
				<ul class="menu">
					<li><a href="/ex/services/visas">Colombian Visas</a></li>
					<li><a href="/ex/services/immigration">Immigration</a></li>
					<li><a href="/ex/services/legal-advice">Legal advice</a></li>
				</ul>
			</div>
			<div class="card-actions">
				<a href="/ex" class="btn btn-md btn-primary w-full">Enter</a>
			</div>
		</div>
	</div>
</div>