---

---
<div class="mt-3">
	<h4 class="h4 text-center">Please select your profile</h4>
	<h4 class="h4 text-center">Selecciona tu perfil</h4>
</div>

<div class="container mx-auto min-h-auto flex flex-col sm:flex-row items-center justify-center">
	
	<div class="card h-fit w-96 bg-base-100 m-2 shadow-xl">
		<div class="card-body">
			<h2 class="card-title">Emprendedores</h2>
			<div tabindex="0" class="collapse collapse-plus border border-secondary-500 bg-primary-100 rounded-box">
				<div class="collapse-title card-title text-sm font-medium">
					Servicios
				</div>
				<div class="collapse-content"> 
					<ul class="menu">
						<li>Registro de marca</li>
						<li>Estudio previo</li>
						<li>Contratos</li>
						<li>Asesoría legal</li>
					</ul>
				</div>
			</div>
			<div class="card-actions">
				<a href="/em" class="btn btn-md btn-primary w-full">Ingresar</a>
			</div>
		</div>
	</div>

	<div class="card h-fit w-96 bg-base-100 m-2 shadow-xl">
		<div class="card-body">
			<h2 class="card-title">Expats</h2>
			<div tabindex="0" class="collapse collapse-plus border border-secondary-500 bg-primary-100 rounded-box">
				<div class="collapse-title card-title text-sm font-medium">
					Services
				</div>
				<div class="collapse-content"> 
					<ul class="menu">
						<li>Immigration</li>
						<li>Real Estate</li>
						<li>Legal advise</li>
					</ul>
				</div>
			</div>
			<div class="card-actions">
				<a href="/ex" class="btn btn-md btn-primary w-full">Enter</a>
			</div>
		</div>
	</div>
</div>