---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import PageContent from '../components/PageContent/PageContent.astro';

import * as CONFIG from '../config';
import type { MarkdownHeading } from 'astro';
import Footer from '../components/Footer/Footer.astro';

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
import NavbarExpatsBlog from '../components/Navs/NavbarExpatsBlog.astro';
import DisqusPlugin from '../components/Both/disqus-plugin.astro';
---

<html>
	<head>
		<HeadCommon />
		<!-- <HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} /> -->
		<title>
			
		</title>
		<style>
			.prose {
				max-width: 70ch;
			}
		</style>
	</head>

	<body>
		<!-- <Header currentPage={currentPage} /> -->
		<!-- <HeadCommon /> -->
		<NavbarExpatsBlog/>
		<div class="drawer drawer-mobile">
			<input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content overflow-auto m-3 text-justify">
				<article class="prose mx-auto">
					<slot />
				</article>
				<div class="my-5">
					<DisqusPlugin />
				</div>
			</div> 
			<div class="drawer-side">
			  <label for="my-drawer-2" class="drawer-overlay"></label> 
			  <ul class="menu p-4 w-80 bg-base-100 text-base-content">
				<!-- Sidebar content here -->
				<li class="menu-title">
					<span>More M</span>
					<li><a href="/ex/wiki">Wiki</a></li>
					<li><a href="/both/en/contact">Contacto</a></li>
					<li><a href="/em">Emprendedores</a></li>
				</li>
				<li class="menu-title">
					<span>Services</span>
				</li>
				<li><a href="/ex/services/immigration">Immigration</a></li>
				<li><a href="/ex/services/">More Services</a></li>
				<li><a href="/em/servicios/redaccion-de-contratos">Redacción de contratos</a></li>
				<li class="menu-title">
					<span>Previous posts</span>
				</li>
				<li><a href="/ex/blog/posts/dnv-confusion">The Digital Nomad Visa Confusion</a></li>
				<li><a href="/ex/blog/posts/counting-your-days">Counting your days</a></li>
			  </ul>
			  </ul>
			
			</div>
		  </div>
		<Footer path={currentFile} />
	</body>
</html>
