---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';

import * as CONFIG from '../config';
import type { MarkdownHeading } from 'astro';
import Footer from '../components/Footer/Footer.astro';

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];

};

const { frontmatter, headings } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
import NavbarExpatsBlog from '../components/Navs/NavbarExpatsBlog.astro';
import DrawerBlogEx from '../components/Navs/DrawerBlogEx.astro';
import DisqusPlugin from '../components/Both/disqus-plugin.astro';
import Comments from '../components/Both/comments.astro';
import FbChatPlugin from '../components/Both/fb-chat-plugin.astro';

---

<html>
	<head>
		<HeadCommon />
		<HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />

		<title>
			{frontmatter.title ? frontmatter.title : title}
		</title>
		
		<style>
			.prose {
				max-width: 70ch;
			}
		</style>
	</head>

	<body>
		<!-- <Header currentPage={currentPage} /> -->
		<!-- <HeadCommon /> -->
		<NavbarExpatsBlog/>
		<div class="drawer drawer-mobile">
			<input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content overflow-auto m-3 text-justify">
				<article class="prose mx-auto">
					<slot />
				</article>
				<div class="my-5 mx-auto p-0 prose">
					<DisqusPlugin />
					<FbChatPlugin/>
					<!-- <Comments/> -->
				</div>
			</div>
			<DrawerBlogEx/>
		</div>
		<Footer />
	</body>
</html>
