---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import PageContent from '../components/PageContent/PageContent.astro';

import * as CONFIG from '../config';
import type { MarkdownHeading } from 'astro';
import Footer from '../components/Footer/Footer.astro';

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
import NavbarEmprendedoresBlog from '../components/Navs/NavbarEmprendedoresBlog.astro';
---

<html>
	<head>
		<HeadCommon />
		<!-- <HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} /> -->
		<title>
			
		</title>
		<style>
			.drawer-toggle ~ .drawer-content {
				overflow-y: hidden;
				height: auto;
			}

		</style>
	</head>

	<body>
		<!-- <Header currentPage={currentPage} /> -->
		<!-- <HeadCommon /> -->
		<NavbarEmprendedoresBlog/>
		<div class="drawer drawer-mobile">
			<input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content flex flex-col items-center justify-center">
			  <!-- Page content here -->
			  <slot />
			  <!-- <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Open drawer</label> -->
			
			</div> 
			<div class="drawer-side">
			  <label for="my-drawer-2" class="drawer-overlay"></label> 
			  <ul class="menu p-4 w-80 bg-base-100 text-base-content">
				<!-- Sidebar content here -->
				<li><a href="/em/blog/posts/como-utilizar-minutas">Cómo utilizar minutas</a></li>
				<li><a href="/em/blog/posts/5-tips-de-contratos">5 tips a la hora de firmar un contrato</a></li>
				<li><a href="/em/blog/posts/contrato-marketing-digital">Un contrato de márketing digital</a></li>
				<li><a href="/em/blog/posts/oposiciones-de-marca">¿Qué son las oposiciones de marca?</a></li>
				<li><a href="/em/blog/posts/examen-de-forma-en-registro-marca">El examen de forma en el proceso de registro de marca</a></li>
				<li><a href="/em/blog/posts/un-mundo-sin-derechos-de-autor">Un mundo sin derechos de autor</a></li>
				<li><a href="/em/blog/posts/quiero-formalizar-mi-negocio">Quiero formalizar mi negocio</a></li>
				<li><a href="/em/blog/posts/tramites-online-colombia-2023">Trámites online en Colombia 2023</a></li>
				<li><a href="/em/blog/posts/que-hacer-con-un-imitador-de-marca">Qué hacer ante una imitación de marca</a></li>
				<li><a href="/em/blog/posts/para-que-sirve-estudio-de-titulos">¿Para qué sirve un estudio de títulos?</a></li>
				<li><a href="/em/blog/posts/certificado-buenas-practicas-manufactura">Certificado de buenas prácticas de manufactura</a></li>
				<li><a href="/em/blog/posts/eliminacion-descuento-jovenes-marca-2023">Eliminación de descuento por edad para registro de marca 2023</a></li>
			  </ul>
			
			</div>
		  </div>
		<Footer path={currentFile} />
	</body>
</html>
