---
import LayoutBlog from "../../../layouts/LayoutBlog.astro";
const title = "Asesoría legal"
---
<LayoutBlog>
    <h1>Asesoria legal personalizada</h1>
    <p>Toda empresa debe cuidarse constantemente de cumplir la ley ante las autoridades y antes terceros.</p>
    <p>El cumplimiento de la ley muchas veces es fácil, sencillo y barato. Otras veces no es difícil, costoso y complejo.</p>
    <p>Te ayudamos a ahorrar tiempo y dinero en el cumplimiento de la ley.</p>
    <p>No te acostumbres a que te dejen tirado o en visto. Estamos a tu lado para acompañarte y defender tus intereses</p>
</LayoutBlog>