---
import LayoutBlog from "../../../layouts/LayoutBlog.astro";
const title = "Creación de Empresa"
---
<LayoutBlog>
    <div class="container mx-auto">
        Te ayudamos a crear tu empresa
    </div>
</LayoutBlog>

