---
import LayoutBlog from "../../../layouts/LayoutBlog.astro";
const title = "Creación de Empresa"
---
<LayoutBlog>
    <h1>Formalización de empresa</h1>
    <p>Te ayudamos a constituir tu empresa</p>

    <p>Te asesoramos y ayudamos a redactar tus estatutos sociales, te explicamos qué significa cada término y qué consecuencias tienen las estipulaciones del contrato social.</p>
    <p>Te ayudamos a obtener tu registro mercantil, certificado de existencia y representación, Registro Único Tributario y facturación electrónica</p>
    <p>Te acompañamos en asambleas de accionistas, reformas societarias, ventas de acciones, liquidaciones, fusiones y adquisiciones y demás operaciones societarias.</p>
    <p>Formalizar tu negocio no debe implicar un dolor de cabeza, sino todo lo contrario, debe permitirte a tí, a tus socios, clientes y proveedores tener unas reglas de juego claras que te permitan crecer como empresa y tener un verdadero impacto social y económico</p>

</LayoutBlog>

