---
import EstudioPrevioForm from "../../../components/Forms/EstudioPrevioForm.astro";
import LayoutEmprendedores from "../../../layouts/LayoutEmprendedores.astro";

const feats = [
    'Conoce si existen marcas idénticas o similares a la tuya',
    'Conoce si tu marca cumple con los requisitos para optar por su registro',
    'Conoce la posibildiad de éxito en ser concedida (alto, medio, bajo)',
    'Recibe el consejo de un profesional jurídico para proteger tu marca.',
]

const questions = [
    {
        title: '¿En qué consiste?',
        description: [
            'Es una investigación exhaustiva en las bases de datos de marcas registradas, con la que se evalúan las posibilidades de registro de tu marca y se dan recomendaciones legales.',
            'Se envía un concepto legal a tu correo electrónico en PDF en el cual se describen los riesgos encontrados que puedan afectar a la solicitud de registro y qué consejos legales aplican para tu caso.',
        ]
    },
    {
        title: '¿Por qué es recomendable?',
        description: [
            'Porque con el estudio previo sabrás si tu marca ya está registrada o si hay otras marcas registradas que puedan hacer oposiciones viables a tu solicitud.',
            'Además, conociendo los riesgos de rechazo de la solicitud, te permitirán tomar decisiones estratégicas para tu negocio.',
        ]
    },
    {
        title: '¿Cuánto tarda?¿Qué costo tiene?',
        description: [
            'El estudio previo se entrega en 1 día hábil contado a partir del día siguiente de recibir la documentación necesaria y el pago de honorarios.',
            'Tiene un precio de $115.000 pesos por la primera clase.',
            'Cada clase adicional tiene un valor de $50.000.',
        ]
    },


]




---

<!-- 
    # Estudio previo de marca 

    *Desde $115.000*

    *En 1 día hábil*

    


-->

<LayoutEmprendedores>
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Estudio previo de registrabilidad</h1>
            <p class="py-6">Conoce si tu marca se puede registrar</p>
            <button class="btn btn-primary">Get Started</button>
          </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            {feats.map((feat, j) =>(
                <div class="card">
                    <div class="card-body bg-base-300">
                        {feat}
                    </div>
                </div>
            ) )}
        </div>

        <div class="divider"></div>

        {questions.map((qn, j) =>(
            <div class="card">
                <div class="card-body">
                    <h4>{qn.title}</h4>
                    <div class="">
                        {qn.description.map((dscp, k)=>(
                            <p>{dscp}</p>
                        ))}
                    </div>
                </div>
            </div>
        ) )}

        <div class="text-center m-3 p-4 text-lg">Solicita y paga aquí tu estudio previo, de forma rápida y segura, obtendrás los resultados en un (1) día hábil:</div>
    </div>
    <EstudioPrevioForm/>
</LayoutEmprendedores>