---
import LayoutBlog from "../../../layouts/LayoutBlog.astro";
---
<LayoutBlog>
    <h1>Te ayudamos a redactar tus contratos marco</h1>
    <p>Cada servicio tiene su propia l칩gica y su propios retos.</p>
    <p>Contar con un contrato personalizado para el tipo de servicio que prestas es una gran ventaja competitiva.</p>
    <p>No solo brindas transparencia y construyes confianza con tus clientes, sino que adem치s te proteges de riesgos econ칩micos para hacer de tu servicio una actividad m치s rentable.</p>
</LayoutBlog>

